# This is Git's per-user configuration file.
[user]
	name = James Duffy
	email = jduffy3@gmail.com
[diff]
	tool = vimdiff
[alias]
  gac = commit -am
  gcm = commit -m
  gb = branch
  gc = checkout
  gl = log
  gp = pull
  gs = status
  gd = branch -d
	fpush = push

[init]
	defaultBranch = main
	templatedir = ~/.git_template
[core]
	excludesfile = /Users/james/.gitignore
[column]
	ui = auto
[branch]
	sort = -committerdate
[push]
  autoSetupRemote = true
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
