# This is Git's per-user configuration file.
[user]
	name = James Duffy
	email = jduffy3@gmail.com
[diff]
	tool = vimdiff
[alias]
  gac = commit -am
  gcm = commit -m
  gs = status
  gc = checkout
  gb = branch
  gd = branch -d

